* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/************ Custom Font ************/
@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
}

/************ gradients e animações************/
:root {
    --color-white: #ffffff;
    --color-gray: #c4c4c4;
    --color-black: #000000;
    --color-purple: #8000ff;
    --color-light-purple: rgb(207, 89, 230);
    --color-light-blue: #6BC5F8;
}

/************ Sobre ************/
